.order-status-image-container {
  display: flex;
  justify-content: center;
  max-height: 300px;
}
.order-status-image {
  height: auto;
  display: block;
  width: 25%;
}
.order-status-title {
  padding: 50px;
  font-size: 30px;
  margin: 0;
  display: flex;
  justify-content: center;
}
.food-preparing {
  text-align: center;
  color: grey;
  font-size: 20px;
}

@media (max-width: 768px) {
  .order-status-image {
    width: 100%;
    max-width: 80%;
    min-height: 80%;
  }
  .order-status-title {
    font-size: large;
    padding: 15px;
  }
  .food-preparing {
    font-size: medium;
  }
}
